
[submodule "unda/externals/glfw"]
	path = unda/externals/glfw
	url = https://github.com/glfw/glfw
[submodule "unda/externals/assimp"]
	path = unda/externals/assimp
	url = https://github.com/assimp/assimp
[submodule "unda/externals/libsndfile"]
	path = unda/externals/libsndfile
	url = https://github.com/libsndfile/libsndfile
[submodule "unda/externals/stk"]
	path = unda/externals/stk
	url = https://github.com/thestk/stk.git
[submodule "unda/externals/pffft"]
	path = unda/externals/pffft
	url = https://bitbucket.org/jpommier/pffft
